@import "general-styles-and-blocks.css";
@import "header-styles.css";
@import "footer-styles.css";

.reasons {
    padding: 60px 0 105px;
}

.reasons--title {
    font-family: Spartan, sans-serif;
    font-weight: 800;
    margin: 0 auto 50px;
}

.reasons--body {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.reason--block-content {
    position: relative;
    margin-bottom: 100px;
}

.reason-card {
    max-width: 570px;
    min-height: 390px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    padding: 37px 27px;
    box-sizing: border-box;
    border-radius: 20px;
}

.reason--block-content_4 {
    top: -12px;
}

.reason--block-content_8 {
    top: -15px;
}

.reason-card--body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.2rem;
}

.reason-card--number {
    position: absolute;
    top: -2px;
    left: 0;
    display: inline-block;
    font: 900 2.75rem/1.4 Rubik, sans-serif;

    background: linear-gradient(90deg, rgba(106, 17, 203, 0.5) 0%, rgba(37, 117, 252, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reason-card--title {
    margin-left: 92px;
    display: inline-block;
    font-size: 25px;
    line-height: 1.4;
}

.reason-card--icon-wrapper {
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    position: relative;
    padding: 15px;
    filter: drop-shadow(0px 5px 15px rgba(0, 70, 187, 0.4));
    border-radius: 10px;
    background: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);
    margin-left: auto;
}

.reason-card--content {
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.6;
}


.decor-img-card {
    position: relative;
    width: 570px;
}

.decor-img-card_1 {
    height: 415px;
}

.decor-img-card_1::before {
    position: absolute;
    top: -4px;
    left: 8px;
    height: 100%;
    width: 671px;
    background: url("images/why-brainway-bg-pic-1.png") left / cover no-repeat;

    content: "";
}

.decor-img-card_2 {
    height: 453px;
}

.decor-img-card_2::before {
    position: absolute;
    top: -4px;
    right: 30px;
    height: 100%;
    width: 571px;
    background: url("images/why-brainway-bg-pic-2.png") right / cover no-repeat;

    content: "";
}

.decor-img-card_3 {
    height: 414px;
}

.decor-img-card_3::before {
    position: absolute;
    top: -1px;
    right: 65px;
    height: 100%;
    width: 464px;
    background: url("images/why-brainway-bg-pic-3.png") right / cover no-repeat;
    content: "";
}

.decor-img-card_4 {
    height: 500px;
}

.decor-img-card_4::before {
    position: absolute;
    top: -4px;
    right: 22px;
    height: 100%;
    width: 517px;
    background: url("images/why-brainway-bg-pic-4.png") right / cover no-repeat;

    content: "";
}

.q-and-a {
    font-family: Spartan, sans-serif;
    padding: 100px 0;
    background: linear-gradient(90deg, rgba(106, 17, 203, 0.1) 0%, rgba(37, 117, 252, 0.1) 100%);
}

.q-and-a--title {
    font-family: Spartan, sans-serif;
    margin-bottom: 25px;
    line-height: 1.2;
    font-weight: 800;
}

.q-and-a--description {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto 60px;
    max-width: 530px;
}